.task-modal-background {
  @include position(absolute, 0, 0, null, 0);
  height: 100%;
  background: rgba($primary-color, .3);
  z-index: 11;
}

.task-modal {
  @include position(absolute, 100px, 50%);
  @include prefix(transform, translateX(50%), webkit moz ms o);
  @include border-radius(15px);
  width: 50%;
  padding: 75px 50px 25px 65px;
  background: $default-color;
  z-index: 12;

  &::before {
    @include position(absolute, 0, null, 0, 0);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 15px;
    content: '';
    display: block;
    background: $bgr-color;
  }

  .close-modal-container {
    @include position(absolute, 20px, 65px);
  }

  .task-container {
    padding: 0;
  }
}