// $bgr-color: #FEBB4C;
$bgr-color: #6FBD97;
$bgr-color-light: #C2E6D1;
// $bgr-color-light: #FED38C;
$bgr-secondary-color: #C2E6D1;
$bgr-secondary-shadow: #DDEDE0;
// $bgr-shadow: #F8D9A5;
$bgr-shadow: #D7F19D;
$bgr-light: #FFF0DE;

$default-color: #ffffff;
$primary-color: #6C4110;
$secondary-color: #A78D6F;
$third-color-dark: #37D5CE;
$third-color-light: #36D6CF;
$fifth-color: #F26C66;
$fifth-color-light: #FAC2BF;
$sixth-color: #334763;
$seventh-color: #6CC164;
$eigth-color: #08a173;
$ninth-color: #c2e6d1;