.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-vertical-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-end-align-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}