<div class="task-container new-task-container">
  <form [formGroup]="editTaskForm" (ngSubmit)="onSaveChanges()">
    <div class="task-header">
      <p class="title">Edit Task</p>
      <button class="btn" type="submit">Save</button>
    </div>
    <div class="create-task-container">
      <div class="form-group">
        <label for="title" class="default-text">Title:</label>
        <input 
          type="text" 
          formControlName="title"
          class="form-input" 
          name="title"/> 
        <p 
          *ngIf="!editTaskForm.get('title').valid && editTaskForm.get('title').touched"
          class="warning-msg">Required
        </p>
      </div>
      <div class="form-group-container">
        <div class="form-group status-group">
          <label for="status" class="default-text">Status:</label>
          <div class="select-container">
            <div class="select-arrow" #arrow [ngClass]="{'rotate-arrow': dropDownIsOpen}"></div>
            <select
              name="status" 
              (click)="rotateArrow()"
              formControlName="status"
              class="form-input select-input">
              <option *ngFor="let status of statuses" [value]="status.value">{{ status.name }}</option>
            </select>
            <p 
              *ngIf="!editTaskForm.get('status').valid && editTaskForm.get('status').touched"
              class="warning-msg">Required
            </p>
          </div>
        </div>
        <div class="form-group hours-group">
          <label for="workedHours" class="default-text">Worked hours:</label>
          <input 
            type="number" 
            formControlName="workedHours"
            class="form-input" 
            name="workedHours"/>  
          <p 
            *ngIf="!editTaskForm.get('workedHours').valid && editTaskForm.get('workedHours').touched"
            class="warning-msg">Required
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="default-text">Description:</label>
        <textarea 
          name="description" 
          formControlName="description"
          rows="15" 
          class="form-input"></textarea>
        <p 
          *ngIf="!editTaskForm.get('description').valid && editTaskForm.get('description').touched"
          class="warning-msg">Required
        </p>
      </div>
    </div>
  </form>
</div>