<div class="db-task-container">
  <div class="db-task-color"></div>
  <p class="db-task-title">{{ task.title }}</p>
  <p class="db-task-status">{{ task.status }}</p>
  <p class="db-worked-hours">{{ task.workedHours }}h</p>
  <p class="db-date">{{ task.updatedAt | date: 'dd' }} {{ task.updatedAt | date: 'MMM' }}</p>
  <div class="db-btn-container">
    <button class="add-btn edit-btn">
      <app-edit-btn></app-edit-btn>
    </button>
    <button class="add-btn cancel-btn">
      <app-cancel-btn></app-cancel-btn>
    </button>
  </div>
</div>