app-dashboard {
  .dashboard-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 95px;

    .search-input {
      @include border-radius(10px);
      width: 60%;
      padding: 3px 10px;
      margin: 0;
    }
  }

  .dashboard-menu-item {
    margin: 15px 0;

    .task-color {
      height: 80px;
    }

    .menu-icon {
      width: 25px;
      margin-right: 20px;
    }
  }

  .user-accounts-color {
    background: $tenth-color;
  }

  .tasks-color {
    background: $bgr-color;
  }

  .account-icon {
    .cls-1 {
      fill: $tenth-color;
      stroke: $tenth-color;
    }
  }

  .task-icon {
    .cls-1 {
      fill: $bgr-color;
      stroke: $bgr-color;
    }
  }

  app-user-accounts {
    padding: 15px 25px 0 50px;
    width: 70%;
    position: relative;
    z-index: 50;

    .users-container-overflow {
      height: 670px;
      overflow-y: scroll;
      scroll-behavior: smooth; 

      &::-webkit-scrollbar {
        display: none;
      }
    }
    
    .arrow-container {
      @include position(absolute, null, 25px, null, 50px);
    }

    .user-card {
      @include border-radius(10px);
      border: .5px solid rgba($secondary-color, .3);
      padding: 15px;
      background: $default-color;
      display: block;
      box-shadow: 0 0 20px -20px rgba($primary-color, .5);
      transition: all 200ms ease-in-out;
      margin-bottom: 3px;
      overflow: hidden;

      .shown-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      
      .user-card-info {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }

      .user-avatar {
        @include size(40px, 40px);
        @include border-radius(5px);
        overflow: hidden;
        border: 1px solid $tenth-color;

        img {
          @include size(100%, 100%);
          object-fit: cover;
        }
      }

      .username-container {
        width: 30%;        
        
        .subtitle {
          @include font($font-size: 18px);
        }
      }

      .userrole-container {
        width: 20%;

        .userrole {
          @include font($font-size: 16px, $font-weight: 600, $color: $fifth-color);
        }
      }

      .edit-btn-container {
        width: 20%;
        opacity: .8;
        transition: all 200ms ease;

        @include on_event {
          opacity: 1;
        }
      }

      .open-btn-container {
        width: 30%;
        display: flex;
        justify-content: flex-end;
      }


      .user-edit-btn, 
      .show-profile-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;

        span {
          margin-right: 5px;
        }

        svg {
          @include size(20px, 20px);
        }
      }

      .user-edit-btn {
        width: auto;

        span {
          @include font($font-size: 16px, $font-weight: 600, $color: $secondary-color);
        }

        app-edit-btn .cls-1 {
          fill: $secondary-color;
          stroke: $secondary-color;
        }
      }

      .show-profile-btn {
        
        span {
          @include font($font-size: 16px, $font-weight: 600, $color: $fifth-color);
        }

        app-open-profile {
          @include size(20px, 20px);
          transition: all 200ms ease;
          transform-origin: center;

          .cls-1 {
            fill: $fifth-color;
            stroke: $fifth-color;
          }
        }

        .rotate-tab {
          @include prefix(transform, rotate(-180deg), webkit moz ms o);
        }
      }

      
      @include on_event {
        box-shadow: 0 0 30px -20px rgba($primary-color, .75);        
      }
      
      .hidden-info-container {
        height: 0;
        opacity: 0;
        transition: all 400ms ease-in-out;

        .line-separator {
          padding: 10px 0;
          
          .line {
            @include size(1px, 100%);
            background: rgba($secondary-color, .3);
          }
        }

        .hidden-info {
          display: block;
          margin-left: 10%;
          width: 90%;
        }

        .hidden-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;

          .subtitle {
            font-size: 14px;
            opacity: .6;
            width: 50%;
          }

          .display-hours-container {
            width: 20%;
            padding-right: 20px;
            
            .display-hour {
              @include font($font-size: 14px, $color: $secondary-color, $text-align: right, $font-weight: 700);
              @include border-radius(10px);
              border: 1px solid $secondary-color;
              padding: 3px 10px;
              
            }
          }

          .input-container {
            width: 20%;
            padding-right: 20px;
          }

          .select-input {
            @include font($font-size: 12px, $color: $secondary-color);
            @include border-radius(12px);
            margin: 0;
            padding: 1px 8px;            
            border: 1px solid $secondary-color;
          }

          .delete-btn-container {
            width: 30%;
            display: flex;
            justify-content: flex-end;
          }

          .btn-alert {
            @include font($font-size: 12px);
            padding: 5px 20px;
            width: auto;
          }    
          
          .date-picker-container {
            mat-form-field {
              width: 100%;

              .mat-form-field-wrapper {
                padding: 0;
                position: relative;

                .mat-form-field-flex {
                  display: flex;
                  justify-content: space-between;

                  .mat-datepicker-toggle-default-icon  {
                    color: $secondary-color;
                  }

                  .mat-form-field-infix {
                    border: none;
                    padding: 0;

                    .mat-input-element {
                      @include font($font-size: 12px, $color: $secondary-color);
                    }

                    .mat-form-field-label-wrapper {
                      display: none;
                    }
                  }
                }

                .mat-form-field-underline {
                  @include position(absolute, null, null, 0);
                  background: $secondary-color;
                }
              }
            }

            .mat-form-field.mat-focused .mat-form-field-ripple {
              background: $bgr-color;
            }
          }

          .worked-hours-container {
            width: 30%;
            display: flex;
            justify-content: flex-end;

            .subtitle {
              width: auto;
            }
          }
        }

        .task-table-wrapper {
          @include font($color: $primary-color, $font-weight: 600, $font-size: 14px);
          padding: 20px 0 10px;

          .header-title {
            width: 30%;
          }
          
          .header-status {
            width: 20%;
          }

          .header-hours {
            width: 20%;
          }

          .header-date {
            width: 15%;
          }

          .header-btn {
            width: 15%;
            display: flex;
            justify-content: flex-end;

            .btn-new {
              display: flex;
              border: none;
              background: none;
              
              span {
                @include font($color: $primary-color, $font-weight: 600);                
                margin-right: 5px;
              }
              
              svg {
                @include size(15px, 15px);

                .cls-1,
                .cls-2 {
                  transition: all 200ms ease;
                }
                
                .cls-1 {
                  fill: $bgr-color;
                  stroke: $bgr-color;
                }
              }

              @include on_event {
                svg {
                  .cls-1 {
                    fill: $default-color;
                  }

                  .cls-2 {
                    fill: $bgr-color;
                    stroke: $bgr-color;
                  }
                }
              }
            }
          }
        }
      }

      .show-hidden-profile {
        opacity: 1;
        height: auto;
      }
    }
  }
}

.db-tasks {
  height: 168px;
  overflow-y: scroll;
  scroll-behavior: smooth; 

  &::-webkit-scrollbar {
    display: none;
  }
}

.db-task-container {
  @include border-radius(5px);
  border: 1px solid rgba($secondary-color, .3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px -8px rgba($primary-color, .3);
  transition: all 200ms ease;
  margin-top: 5px;
  overflow: hidden;
  cursor: pointer;
  
  .db-task-color {
    width: 2%;
    height: 35px;
    background: $fifth-color;
  }

  .db-task-title {
    width: 28%;
    padding-left: 15px;
  }

  .db-task-status {
    width: 20%;
  }

  .db-worked-hours {
    width: 20%;
    opacity: .6;
  }

  .db-date {
    width: 15%;
    opacity: .6;
  }

  .db-btn-container {
    width: 15%;
    display: flex;
    justify-content: flex-end;

    button svg {
      @include size(20px, 20px);
    }

    .edit-btn,
    .cancel-btn {
      app-edit-btn,
      app-cancel-btn {
        .cls-1 {
          opacity: .8;
          transition: all 200ms ease;

          @include on_event {
            opacity: 1;
          }
        }
      }
    }
  }

  @include on_event {
    box-shadow: 0 0 20px -8px rgba($primary-color, .75);
  }
}

.no-task-container {
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-no-users-found {
  .no-results {
    @include border-radius(10px);
    padding: 15px;
    border: 1px solid rgba($secondary-color, .3);
    background: $default-color;

    &-container {
      padding: 0 10px;
      width: 90%;
    }

    &-msg {
      @include font($font-size: 18px, $color: $fifth-color, $font-weight: 500);
      padding: 10px 0;

      span {
        font-weight: 600;
      }
    }

    app-no-results-icon {
      width: 8%;

      svg {
        .cls-1,
        .cls-3 {
          fill: $default-color;
        }
        
        .cls-1 {
          stroke: $secondary-color;
        }
        
        .cls-1,
        .cls-2,
        .cls-5,
        .cls-6 {
          stroke-linecap: round;
        }
        
        .cls-1,
        .cls-2,
        .cls-6 {
          stroke-linejoin: round;
        }
        
        .cls-2,
        .cls-5 {
          fill:none;
        }
        
        .cls-2,
        .cls-3,
        .cls-5,
        .cls-6 {
          stroke: $fifth-color;
        }
        
        .cls-2,
        .cls-3,
        .cls-5 {
          stroke-width: 3px;
        }
        
        .cls-3,
        .cls-5 {
          stroke-miterlimit: 10;
        }
        
        .cls-4,
        .cls-6 {
          fill: $fifth-color;
        }
      }
    }
  }
}