app-dashboard {
  .dashboard-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 95px;

    .search-input {
      @include border-radius(10px);
      width: 60%;
      padding: 3px 10px;
      margin: 0;
    }
  }

  .dashboard-menu-item {
    margin: 15px 0;

    .task-color {
      height: 80px;
    }

    .menu-icon {
      width: 25px;
      margin-right: 20px;
    }
  }

  .user-accounts-color {
    background: $tenth-color;
  }

  .tasks-color {
    background: $bgr-color;
  }

  .account-icon {
    .cls-1 {
      fill: $tenth-color;
      stroke: $tenth-color;
    }
  }

  .task-icon {
    .cls-1 {
      fill: $bgr-color;
      stroke: $bgr-color;
    }
  }

  app-user-accounts {
    padding: 15px 25px 0 50px;
    width: 70%;
    position: relative;
    z-index: 50;

    .users-container-overflow {
      height: 670px;
      overflow-y: scroll;
      scroll-behavior: smooth; 

      &::-webkit-scrollbar {
        display: none;
      }
    }
    
    .arrow-container.dashboard-arrows {
      @include position(absolute, null, 25px, null, 50px);
    }

    .user-card {
      @include border-radius(10px);
      height: 70px;
      border: .5px solid rgba($secondary-color, .3);
      padding: 15px;
      background: $default-color;
      display: block;
      box-shadow: 0 0 20px -20px rgba($primary-color, .5);
      transition: all 200ms ease-in-out;
      margin-bottom: 3px;
      overflow: hidden;

      .shown-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      
      .user-card-info {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }

      .user-avatar {
        @include size(40px, 40px);
        @include border-radius(5px);
        overflow: hidden;
        border: 1px solid $tenth-color;

        img {
          @include size(100%, 100%);
          object-fit: cover;
        }
      }

      .username-container {
        width: 30%;        
        
        .subtitle {
          @include font($font-size: 18px);
        }
      }

      .userrole-container {
        width: 20%;

        .userrole {
          @include font($font-size: 16px, $font-weight: 600, $color: $fifth-color);
        }
      }

      .edit-btn-container {
        width: 20%;
        opacity: .8;
        transition: all 200ms ease;

        @include on_event {
          opacity: 1;
        }
      }

      .open-btn-container {
        width: 30%;
        display: flex;
        justify-content: flex-end;
      }


      .user-edit-btn, 
      .show-profile-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;

        span {
          margin-right: 5px;
        }

        svg {
          @include size(20px, 20px);
        }
      }

      .user-edit-btn {
        width: auto;

        span {
          @include font($font-size: 16px, $font-weight: 600, $color: $secondary-color);
        }

        app-edit-btn .cls-1 {
          fill: $secondary-color;
          stroke: $secondary-color;
        }
      }

      .show-profile-btn {
        span {
          @include font($font-size: 16px, $font-weight: 600, $color: $fifth-color);
        }

        app-open-profile {
          @include size(20px, 20px);
          transition: all 200ms ease;
          transform-origin: center;

          .cls-1 {
            fill: $fifth-color;
            stroke: $fifth-color;
          }
        }

        .rotate-tab {
          @include prefix(transform, rotate(-180deg), webkit moz ms o);
        }
      }

      
      @include on_event {
        box-shadow: 0 0 30px -20px rgba($primary-color, .75);        
      }
      
      .hidden-info-container {
        height: 0;
        opacity: 0;
        transition: all 400ms ease-in-out;

        .line-separator {
          padding: 10px 0;
          
          .line {
            @include size(1px, 100%);
            background: rgba($secondary-color, .3);
          }
        }

        .hidden-info {
          display: block;
          margin-left: 10%;
          width: 90%;
        }

        .hidden-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;

          .subtitle {
            font-size: 14px;
            opacity: .6;
            width: 50%;
          }

          .display-hours-container {
            width: 20%;
            padding-right: 20px;
            
            .display-hour {
              @include font($font-size: 14px, $color: $secondary-color, $text-align: right, $font-weight: 700);
              @include border-radius(10px);
              border: 1px solid $secondary-color;
              padding: 3px 10px;
              
            }
          }

          .input-container {
            width: 20%;
            padding-right: 20px;
          }

          .select-input {
            @include font($font-size: 12px, $color: $secondary-color);
            @include border-radius(12px);
            margin: 0;
            padding: 1px 8px;            
            border: 1px solid $secondary-color;
          }

          .delete-btn-container {
            width: 30%;
            display: flex;
            justify-content: flex-end;
          }

          .btn-alert {
            @include font($font-size: 12px);
            padding: 5px 20px;
            width: auto;
          }    
          
          .date-picker-container {
            mat-form-field {
              width: 100%;

              .mat-form-field-wrapper {
                padding: 0;
                position: relative;

                .mat-form-field-flex {
                  display: flex;
                  justify-content: space-between;

                  .mat-datepicker-toggle-default-icon  {
                    color: $secondary-color;
                  }

                  .mat-form-field-infix {
                    border: none;
                    padding: 0;

                    .mat-input-element {
                      @include font($font-size: 12px, $color: $secondary-color);
                    }

                    .mat-form-field-label-wrapper {
                      display: none;
                    }
                  }
                }

                .mat-form-field-underline {
                  @include position(absolute, null, null, 0);
                  background: $secondary-color;
                }
              }
            }

            .mat-form-field.mat-focused .mat-form-field-ripple {
              background: $bgr-color;
            }
          }

          .worked-hours-container {
            width: 30%;
            display: flex;
            justify-content: flex-end;

            .subtitle {
              width: auto;
            }
          }
        }

        .task-table-wrapper {
          @include font($color: $primary-color, $font-weight: 600, $font-size: 14px);
          padding: 20px 0 10px;

          .header-title {
            width: 30%;
          }
          
          .header-status {
            width: 20%;
          }

          .header-hours {
            width: 20%;
          }

          .header-date {
            width: 15%;
          }

          .header-btn {
            width: 15%;
            display: flex;
            justify-content: flex-end;

            .btn-new {
              display: flex;
              border: none;
              background: none;
              
              span {
                @include font($color: $primary-color, $font-weight: 600);                
                margin-right: 5px;
              }
              
              svg {
                @include size(15px, 15px);

                .cls-1,
                .cls-2 {
                  transition: all 200ms ease;
                }
                
                .cls-1 {
                  fill: $bgr-color;
                  stroke: $bgr-color;
                }
              }

              @include on_event {
                svg {
                  .cls-1 {
                    fill: $default-color;
                  }

                  .cls-2 {
                    fill: $bgr-color;
                    stroke: $bgr-color;
                  }
                }
              }
            }
          }
        }
      }

      .show-hidden-profile {
        opacity: 1;
        height: auto;
      }
    }
  }
}

.db-tasks {
  height: 168px;
  overflow-y: scroll;
  scroll-behavior: smooth; 

  &::-webkit-scrollbar {
    display: none;
  }
}

.db-task-container {
  @include border-radius(5px);
  border: 1px solid rgba($secondary-color, .3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px -8px rgba($primary-color, .3);
  transition: all 200ms ease;
  margin-top: 5px;
  overflow: hidden;
  cursor: pointer;
  
  .db-task-color {
    width: 2%;
    height: 35px;
    background: $fifth-color;
  }

  .db-task-wrapper {
    width: 98%;
  }

  .db-task-title {
    width: 28%;
    padding-left: 15px;
  }

  .db-task-status {
    width: 20%;
  }

  .db-worked-hours {
    width: 20%;
    opacity: .6;
  }

  .db-date {
    width: 15%;
    opacity: .6;
  }

  .db-btn-container {
    width: 15%;
    display: flex;
    justify-content: flex-end;

    button svg {
      @include size(20px, 20px);
    }

    .edit-btn,
    .cancel-btn {
      app-edit-btn,
      app-cancel-btn {
        .cls-1 {
          opacity: .8;
          transition: all 200ms ease;

          @include on_event {
            opacity: 1;
          }
        }
      }
    }
  }

  @include on_event {
    box-shadow: 0 0 20px -8px rgba($primary-color, .75);
  }
}

.no-task-container {
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-no-users-found {
  .no-results {
    @include border-radius(10px);
    padding: 15px;
    border: 1px solid rgba($secondary-color, .3);
    background: $default-color;

    &-container {
      padding: 0 10px;
      width: 90%;
    }

    &-msg {
      @include font($font-size: 18px, $color: $fifth-color, $font-weight: 500);
      padding: 10px 0;

      span {
        font-weight: 600;
      }
    }

    app-no-results-icon {
      width: 8%;

      svg {
        .cls-1,
        .cls-3 {
          fill: $default-color;
        }
        
        .cls-1 {
          stroke: $secondary-color;
        }
        
        .cls-1,
        .cls-2,
        .cls-5,
        .cls-6 {
          stroke-linecap: round;
        }
        
        .cls-1,
        .cls-2,
        .cls-6 {
          stroke-linejoin: round;
        }
        
        .cls-2,
        .cls-5 {
          fill:none;
        }
        
        .cls-2,
        .cls-3,
        .cls-5,
        .cls-6 {
          stroke: $fifth-color;
        }
        
        .cls-2,
        .cls-3,
        .cls-5 {
          stroke-width: 3px;
        }
        
        .cls-3,
        .cls-5 {
          stroke-miterlimit: 10;
        }
        
        .cls-4,
        .cls-6 {
          fill: $fifth-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  app-dashboard {
    .mt-menu-container {
      padding-left: 50px;
    }

    .dashboard-search-container {
      margin-left: 50px;  
    }

    .tasks-container .task-item {
      margin: 0 0 15px;

      .task-color {
        height: 65px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  app-dashboard {
    .mt-menu-container {
      padding-left: 45px;
    }

    .dashboard-search-container {
      padding: 10px 0;
      margin-left: 45px;
    }
    
    app-user-accounts {
      padding: 10px 25px 0 30px;
  
      .user-card {
        height: 60px;

        .user-avatar {
          @include size(30px, 30px);
        }
  
        .username-container {
          width: 20%;
          overflow: hidden;
          
          .subtitle {
            font-size: 14px;
          }
        }
  
        .userrole-container {
          width: 15%;
  
          .userrole {
            font-size: 14px;
          }
        }
  
        .edit-btn-container {
          width: 15%;
        }
  
        .open-btn-container {
          width: 35%;
        }
  
        .user-edit-btn, 
        .show-profile-btn {  
          span {
            font-size: 14px;
          }
  
          svg {
            @include size(15px, 15px);
          }
        }
  
        .user-edit-btn {
          width: auto;
  
          span {
            font-size: 14px;
          }
        }
  
        .show-profile-btn {
          app-open-profile {
            @include size(15px, 15px);  
          }
        } 
        
        .hidden-info-container {  
          .line-separator {
            padding: 5px 0;
          }
  
          .hidden-info {
            margin-left: 0;
            width: 100%;
          }
  
          .hidden-line {
            padding: 5px 0;
  
            .subtitle {
              font-size: 12px;
            }
  
            .display-hours-container {
              padding-right: 10px;

              .display-hour {
                font-size: 12px;
              }
            }
  
            .btn-alert {
              padding: 5px 15px;
            }

            .input-container.date-picker-container {
              padding-right: 10px;
            }
          }
  
          .task-table-wrapper {
            font-size: 12px;
            padding: 10px 0;
  
            .header-title {
              width: 30%;
            }
            
            .header-status {
              width: 15%;
            }
  
            .header-hours {
              width: 25%;
            }
  
            .header-date {
              width: 10%;
            }
  
            .header-btn {
              width: 20%;
  
              .btn-new {                
                span {              
                  margin-right: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
  
  .db-tasks {
    height: 190px;
  }
  
  .db-task-container {    
    .db-task-color {
      height: 30px;
    }
  
    .db-task-title {
      width: 25%;
      padding-left: 5px;
    }
  
    .db-task-status {
      width: 20%;
    }
  
    .db-worked-hours {
      width: 15%;
    }
  
    .db-date {
      width: 17%;
    }
  
    .db-btn-container {
      width: 10%;
  
      button svg {
        @include size(15px, 15px);
      }
    }
  }
   
  app-no-users-found {
    .no-results {
      @include border-radius(10px);
      padding: 15px;
  
      &-container {
        padding: 0 10px;
        width: 90%;
      }
  
      &-msg {
        font-size: 14px;
        padding: 0;
      }
    }
  }  
}

@media screen and (max-width: 767px) {
  app-dashboard {
    .mt-menu {
      flex-wrap: wrap;
    }

    .mt-menu-container {
      padding: 0 25px;
      width: 100%;
      order: 2;

      .title {
        font-size: 18px;
      }
    }

    .tasks-container {
      .tasks-list-wrapper {
        display: block;
        overflow: auto;
      }
    } 

    .dashboard-search-container {
      padding: 10px 25px;
      margin-left: 0;

      label {
        width: 15%;
      }
  
      .search-input {
        width: 85%;
      }
    }

    .task-list {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .task-item {
        width: 49%;
        align-items: center;
      }
    }
  
    .dashboard-menu-item.task-item {
      margin: 10px 0;

      .task-info {
        width: 60%;
      }
  
      .task-color {
        height: 70px;
      }
  
      .menu-icon {
        width: 25px;
        margin-right: 10px;
      }
    }
    
    app-user-accounts {
      padding: 0 25px;
      width: 100%;
      
      .arrow-container.dashboard-arrows {
        @include position(absolute, 600px, 25px, null, 50px);
      }
  
      .user-card {
        margin-bottom: 5px;
     
        .username-container {
          width: 30%;
        }
  
        .userrole-container {
          width: 20%;
        }
  
        .edit-btn-container {
          width: 20%;
        }
  
        .open-btn-container {
          width: 30%;
        }
    
        .user-edit-btn {  
          app-edit-btn {
            margin-top: 5px;
          }
        }
  
        .show-profile-btn {
          app-open-profile {
            margin-top: 2px;
          }
        }

        .hidden-info-container {
          .hidden-line {
            padding: 5px 0;
  
            .display-hours-container {
              padding-right: 15px;
              
              .display-hour {
                @include font($font-size: 14px, $color: $secondary-color, $text-align: right, $font-weight: 700);
              }
            }
  
            .input-container {
              padding-right: 20px;
            }
  
            .delete-btn-container {
              width: 30%;
            }

            .worked-hours-container {
              width: 30%;
            }
          }
  
          .task-table-wrapper {
            font-size: 14px;
            padding: 20px 0 10px;
  
            .header-title {
              width: 30%;
            }
            
            .header-status {
              width: 20%;
            }
  
            .header-hours {
              width: 20%;
            }
  
            .header-date {
              width: 15%;
            }
  
            .header-btn {
              width: 15%;
  
              .btn-new {                
                span {           
                  margin-right: 5px;
                }
                
                svg {
                  @include size(15px, 15px);
                }
              }
            }
          }
        }
      }
    }
  }
  
  .db-tasks {
    height: 168px;
  }
  
  .db-task-container {
    .db-task-color {
      width: 2%;
      height: 35px;
    }
  
    .db-task-title {
      width: 28%;
      padding-left: 15px;
    }
  
    .db-task-status {
      width: 20%;
    }
  
    .db-worked-hours {
      width: 20%;
    }
  
    .db-date {
      width: 15%;
    }
  
    .db-btn-container {
      width: 15%;
  
      button svg {
        @include size(20px, 20px);
      }
    }
  }
 
  app-no-users-found {
    .no-results {  
      &-container {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  app-dashboard {
    .dashboard-search-container {
      label {
        width: 25%;
      }
  
      .search-input {
        width: 75%;
      }
    }
  
    .dashboard-menu-item.task-item {
      .task-info {
        margin: 0;
      }
    }
    
    app-user-accounts {
      .user-card {
        height: 70px;

        .shown-info-container .user-card-info {
          flex-wrap: wrap;
        }
     
        .username-container {
          width: 50%;
          padding-left: 10px;
          order: 1;
        }
  
        .userrole-container {
          width: 50%;
          padding-left: 10px;
          order: 3;
        }
  
        .edit-btn-container {
          width: 50%;
          order: 2;
          display: flex;
          justify-content: flex-end;
        }
  
        .open-btn-container {
          width: 50%;
          order: 4;
        }
        
        .hidden-info-container {
          .hidden-line {
            flex-wrap: wrap;

            .line-info {
              width: 70%;
            }
  
            .display-hours-container {
              padding-right: 0;
              width: 30%;
            }
  
            .delete-btn-container {
              width: 100%;
              padding: 10px 0;
              justify-content: flex-start;

              .btn-alert {
                width: 62%;
              }
            }

            .worked-hours-container {
              width: 100%;
              justify-content: flex-start;
            }

            .input-container.date-picker-container {
              width: 30%;
              padding-right: 0;
            }
          }
  
          .task-table-wrapper {
            padding: 0;
  
            .header-title,
            .header-status,
            .header-hours,
            .header-date {
              display: none;
            }

            .header-btn {
              width: 100%;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
  
  .db-tasks {
    height: 135px;
  }
  
  .db-task-container {  
    .db-task-color {
      width: 2%;
      height: 60px;
    }

    .db-task-wrapper {
      flex-wrap: wrap;
      align-items: center;
    }
  
    .db-task-title {
      width: 70%;
      padding-left: 10px;
      order: 1;
    }
  
    .db-task-status {
      width: 30%;
      text-align: right;
      padding-right: 10px;
      order: 2;
    }
  
    .db-worked-hours {
      width: 40%;
      order: 4;
      padding-left: 10px;
    }
  
    .db-date {
      position: relative;
      order: 3;
      padding-left: 10px;
      width: 30%;

      &::before {
        @include size(100%, 1px);
        @include position(absolute, null, 0);
        display: block;
        content: '';
        background: $secondary-color;        
      }
    }
  
    .db-btn-container {
      width: 30%;
      order: 5;
      padding: 3px 10px;

      .edit-btn {
        margin-right: 3px;
      }

      button,
      button svg {
        @include size(15px, 15px);
      }
    }
  }
 
  app-no-users-found {
    .no-results {  
      &-container {
        padding: 0;
      }
    }
  }
}
