<div class="user-card" [@showUserCard] [@openCloseCard]="showProfile ? 'open' : 'closed'">
  <div class="shown-info-container">
    <div class="user-avatar">
      <img [src]="base64Image" alt="avatar">
    </div>
    <div class="user-card-info">
      <div class="username-container" (click)=showHiddenProfile()>
        <p class="username subtitle">{{ user.name }}</p>
      </div>
      <div class="userrole-container">
        <p class="userrole">{{ user.role }}</p>
      </div>
      <div class="edit-btn-container">
        <button type="button" 
        (click)=editSelectedUser()
        class="user-edit-btn">
          <span>Edit</span>
          <app-edit-btn></app-edit-btn>
        </button>
      </div>
      <div class="open-btn-container">
        <button 
        type="button" 
        (click)=showHiddenProfile()
        class="show-profile-btn">
          <span *ngIf="!showProfile">Show profile</span>
          <span *ngIf="showProfile">Hide profile</span>
          <app-open-profile [ngClass]="{'rotate-tab': showProfile}"></app-open-profile>
        </button>
      </div>
    </div>
  </div>
  <div 
  class="hidden-info-container"
  [ngClass]="{'show-hidden-profile': showProfile}">
    <div class="line-separator">
      <div class="line"></div>
    </div>
    <div class="hidden-info">
      <div class="hidden-line">
        <p class="subtitle faded">{{ user.email}}</p>
      </div>
      <div class="hidden-line">
        <p class="subtitle faded">Preferred working hours:</p>
        <div class="display-hours-container">
          <p class="display-hour">{{ user.preferredWorkingHours}}h</p>
        </div>
        <div class="delete-btn-container">
          <button class="btn btn-alert" (click)="deleteSelectedUser()">Delete profile</button>
        </div>
      </div>
      <div class="hidden-line">
        <p class="subtitle faded">User tasks</p>
        <div class="date-picker-container input-container">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [formControl]="today" (dateChange)="getTodaysTasks($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="worked-hours-container">
          <p class="subtitle">Hours worked: 10</p>
        </div>
      </div>
      <div class="task-table-wrapper">
        <div class="hidden-line">
          <p class="header-title">Title</p>
          <p class="header-status">Status</p>
          <p class="header-hours">Hours worked</p>
          <p class="header-date">Date</p>
          <div class="header-btn">
            <button class="btn-new">
              <span>New task</span>
              <app-add-btn></app-add-btn>
            </button>
          </div>
        </div> 
        <div class="db-tasks">
          <app-dashboard-task *ngFor="let task of tasks" [task]="task"></app-dashboard-task>       
          <div *ngIf="noTasks" class="no-task-container">
            <p class="subtitle faded">No tasks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

