<div class="task-container" [@taskContentAnimation]>
  <div class="task-header">
    <p class="title">{{ task.title }}</p>
    <button 
      (click)="goToEditTask()"
      class="btn">Edit</button>
  </div>
  <div class="status-container">
    <div class="stats">
      <p class="subtitle faded">Status:</p>
      <p class="subtitle" [ngStyle]="{color: getColor()}">{{ task.status }}</p>      
    </div>
    <div class="stats">
      <p class="subtitle faded">Hours worked:</p>
      <p class="subtitle faded">{{ task.workedHours }}h</p> 
    </div>
  </div>
  <p class="subtitle">Description:</p>
  <p class="default-text">{{ task.description }}</p>
</div>