<div class="edit-account"
*ngIf="editModalIsOpen" 
[@showEditModal] 
(click)="closeEditModal()"> 
  <div class="edit-account-container" stop-propagation>
    <button class="btn-empty" (click)="closeEditModal()">
      <div class="close-btn">
        <div class="close-bar bar-left"></div>
        <div class="close-bar bar-right"></div>
      </div>
    </button>
    <form
    [formGroup]="editUserAdminForm"
    (ngSubmit)="adminEditUser()"
    class="edit-user-form">
      <div class="edit-user-image-container">
        <img [src]="base64Image" alt="avatar" *ngIf="!noAvatar">
        <input 
        type="file" 
        name="avatar"
        (change)="onAvatarSelected($event)"
        class="image-upload">
        <div class="upload-text" *ngIf="noAvatar">
          <p class="subtitle faded">Upload avatar</p>
        </div>
      </div>
      <div class="edit-user-info-container">
        <p class="title">Edit user User_name</p>
        <div class="form-group">
          <label for="name" class="default-text">Name:</label>
          <input 
          type="text" 
          formControlName="name"
          name="name" 
          class="form-input">
        </div>
        <div class="form-group">
          <label for="name" class="default-text">Email:</label>
          <input 
          type="email" 
          formControlName="email"
          name="email" 
          class="form-input">
        </div>
        <div class="form-group">
          <label for="name" class="default-text">Preferred working hours:</label>
          <div class="select-container">
            <div class="select-arrow" #arrow [ngClass]="{'rotate-arrow': dropDownIsOpen}"></div>
            <select 
            class="form-input select-input"
            formControlName="preferredWorkingHours"
            (click)="rotateArrow()"
            name="status">
              <option 
              *ngFor="let hour of hours"
              [value]="hour">{{hour}}h
              </option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn">Edit</button>
      </div>
    </form>
  </div>
</div>