
  <div class="user-details-container">
    <div class="user-image-container card-shadow">
      <form
        class="image-upload-form"
        (ngSubmit)="onSubmit()"> 
        <input 
          type="file" 
          name="avatar"
          class="image-upload"
          (change)='onFileSelected($event)'/>
        <p class="upload-text subtitle faded"  *ngIf="noAvatar">Upload avatar</p>
      </form>
      <div class="loading-bar-container" *ngIf="isLoading">
        <div class="loading-bar" [style.width.%]="loadingBar"></div>
      </div>
      <img [src]="base64Image" *ngIf="!noAvatar && !isLoading">
    </div>
    <div class="account-info-container">
      <div class="account-info">
        <div class="user-info-container">
          <div class="edited-field">
            <p 
            class="username title elem" 
            [ngClass]="{'hide-elem': editName}">
            {{ loggedUser.name | titlecase }}
            </p>
            <button 
            type="button" 
            class="add-btn edit-btn" 
            (click)="editUsername()" 
            *ngIf="!editName"  
            [@editField]>
              <app-edit-btn></app-edit-btn>
            </button>
          </div>
          <form
          class="to-edit-field"
          [formGroup]="usernameEditForm"
          (ngSubmit)="submitNewName()"
          *ngIf="editName"> 
            <input 
            type="text" 
            name="name" 
            class="form-input" 
            formControlName="name"
            [@expandField]>
            <div [@editField] class="btn-group">
              <button 
              type="submit"
              class="add-btn edit-btn" 
              [disabled]="!usernameEditForm.valid">
                <app-ok-btn></app-ok-btn>
              </button>
              <button 
              type="button" 
              class="add-btn cancel-btn" 
              (click)="usernameCancel()">
                <app-cancel-btn></app-cancel-btn>
              </button>
            </div>
          </form>
        </div>
        <div class="user-info-container">
          <div class="edited-field email-field">
            <p 
            class="email subtitle faded elem"
            [ngClass]="{'hide-elem': editEmail}">
            {{ loggedUser.email }}
            </p>
            <button 
            type="button" 
            class="add-btn edit-btn" 
            (click)="editUserEmail()" 
            *ngIf="!editEmail"  
            [@editField]>
              <app-edit-btn></app-edit-btn>
            </button>
          </div>
          <form 
          class="to-edit-field"
          [formGroup]="emailEditForm"
          (ngSubmit)="submitNewEmail()"
          *ngIf="editEmail">
            <input 
            type="email" 
            class="form-input"
            formControlName="email"
            name="email"
            [@expandField]>
            <div class="btn-group" [@editField]>
              <button 
              class="add-btn edit-btn"
              [disabled]="!emailEditForm.valid"
              type="submit">
                <app-ok-btn></app-ok-btn>
              </button>
              <button
              type="button"
              class="add-btn cancel-btn"
              (click)="emailCancel()">
                <app-cancel-btn></app-cancel-btn>
              </button>
            </div>
          </form>
        </div>
        <p class="userrole subtitle faded">admin</p>
        <label for="preferredHours" class="subtitle faded">Preferred working hours</label>
        <div class="select-hours-container select-container">
          <form 
          #workingHoursForm="ngForm">
            <div class="select-arrow" #arrow [ngClass]="{'rotate-arrow': dropDownIsOpen}"></div>
            <select
              name="preferredWorkingHours"
              [(ngModel)] = "loggedUser.preferredWorkingHours"
              class="form-input select-input" 
              (change)="changeWorkingHours($event)"
              (click)="rotateArrow()">
              <option
                *ngFor="let hour of hours" 
                [value]="hour">{{ hour }}h
              </option>
            </select>
          </form>
        </div>        
      </div>
      <div class="buttons-container">
        <button
          (click)="deleteProfile()"
          class="btn btn-alert">Delete profile
      </button>
      </div>
    </div>
  </div>
  <div class="tasks-and-calendar">
    <div class="tasks-and-calendar-container">
      <div class="profile-tasks-container">
        <div class="profile-tasks-header">
          <p class="subtitle faded">My tasks</p>
          <div class="profile-new-task">
            <span class="subtitle faded">New task</span>
            <button type="button" class="add-btn" (click)="navigateToNewTask()">
              <app-add-btn></app-add-btn>
            </button>
          </div>
        </div>
        <form class="select-container" #dropdownStatusForm="ngForm">
          <div class="select-arrow" [ngClass]="{'rotate-arrow': dropdownStatusIsOpen}"></div>
          <select name="status" class="select-input form-input">
            <option
            *ngFor="let option of options"             
            [value]="option.value">{{ option.name }}
          </option>
          </select>
        </form>
        <div class="profile-task-list-container">
          <ul class="task-list" [style.height.px]="listHeight">
            <li
              #listItem
              class="task-item">
              <div class="task-color"></div>
              <div class="task-info">
                <p class="task-title">Title</p>
                <div class="task-status">Ongoing</div>
              </div>
              <div class="task-date">
                <p class="task-day">24</p>
                <p class="task-month">DEC</p>
              </div>
            </li>
            <li
            #listItem
            class="task-item">
            <div class="task-color"></div>
            <div class="task-info">
              <p class="task-title">Title</p>
              <div class="task-status">Ongoing</div>
            </div>
            <div class="task-date">
              <p class="task-day">24</p>
              <p class="task-month">DEC</p>
            </div>
          </li>
          <li
          #listItem
          class="task-item">
          <div class="task-color"></div>
          <div class="task-info">
            <p class="task-title">Title</p>
            <div class="task-status">Ongoing</div>
          </div>
          <div class="task-date">
            <p class="task-day">24</p>
            <p class="task-month">DEC</p>
          </div>
        </li>
          </ul>
        </div>
      </div>
      <div class="profile-calendar-container">
        <p class="subtitle faded">My calendar</p>
        <app-calendar></app-calendar>
      </div>
    </div>  
  </div>

  