
  <div class="user-details-container">
    <div class="user-image-container card-shadow">
      <form
        class="image-upload-form"
        (ngSubmit)="onSubmit()"> 
        <input 
          type="file" 
          name="avatar"
          class="image-upload"
          (change)='onFileSelected($event)'/>
        <p class="upload-text subtitle faded"  *ngIf="noAvatar">Upload avatar</p>
      </form>
      <div class="loading-bar-container" *ngIf="isLoading">
        <div class="loading-bar" [style.width.%]="loadingBar"></div>
      </div>
      <img [src]="base64Image" *ngIf="!noAvatar && !isLoading">
    </div>
    <div class="account-info-container">
      <div class="account-info">
        <p class="username title">User_name</p>
        <p class="userrole subtitle faded">admin</p>
        <label for="preferredHours" class="subtitle faded">Preferred working hours</label>
        <div class="select-hours-container select-container">
          <div class="select-arrow" #arrow [ngClass]="{'rotate-arrow': dropDownIsOpen}"></div>
          <select
            name="preferredHours"
            class="form-input select-input" (click)="rotateArrow()">
            <option
              *ngFor="let hour of hours" 
               [value]="hour">{{ hour }}h
            </option>
          </select>
        </div>        
      </div>
      <div class="buttons-container">
        <button
          class="btn btn-edit"
          (click)="goToEditProfile()"
          >Edit profile
        </button>
        <button
          (click)="deleteProfile()"
          class="btn btn-alert">Delete profile
      </button>
      </div>
    </div>
  </div>
  